.CodeMirror-FastScroll-Button {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 19px;
    overflow: hidden;
    cursor: pointer;
    background: #ffffe0;
    border: 1px solid #ee8;
}

.CodeMirror-FastScroll-Button:hover {
    cursor: pointer;
    content: "Prev";
    background: #ffff70;
    border: 1px solid #ca5;
}

.CodeMirror-FastScroll-TopButton {
    top: 0;
}

.CodeMirror-FastScroll-BottomButton {
    bottom: 14px;
}

.CodeMirror-FastScroll-CollapseButton {
	margin-top: -30px;
    margin-left: -35px;
    margin-bottom: 10px;
    width: 70px;
    box-sizing: border-box;
    position: static;
    text-align: center;
    float: left;
}